<h1 style="text-align: center; color: green;"> Create a restaurant! </h1>


<% if @restaurant.errors.any? %>
    <% @restaurant.errors.full_messages.each do |mess| %>
            <li style="color: red"><%= mess %></li>
    <% end %>
<% end %>


<div style="text-align: center;">

    <%= form_for @restaurant do |f|%>

    <div class="field">
    <%= f.label :name%>
    <%= f.text_field :name%>

    Pick a category 

    <%= f.text_field :category_name, list: "categories_autocomplete" %>

    <datalist id="categories_autocomplete">
        <% @categories.each do |c| %>
            <option value="<%= c.name %>">
        <% end %>
    </datalist>

    </div>
    <br>
    <br>
    <br>
    <br>
    <%= f.submit 'Create restaurant'%>
    <% end %>


    <%
=begin%>
 <%= form_for @restaurant do |f|%>

    <div class="field">
    <%= f.label :name%>
    <%= f.text_field :name%>

    Pick a category 

    <%= f.collection_select :category_name, @categories, :name, :name, prompt: "Please Select One" %>
    </div>
    <br>
    <br>
    <br>
    <br>
    <%= f.submit 'Create restaurant'%>
    <% end %> 
<%
=end%>
</div>







