<h1 style="text-align: center; color: green;"> Create an Item! </h1>


<% if @item.errors.any? %>
    <% @item.errors.full_messages.each do |mess| %>
            <li style="color: red"><%= mess %></li>
    <% end %>
<% end %>


<div style="text-align: center;">
    <%= form_for @item do |f|%>

    <div class="field">
    <%= f.label :title%>
    <%= f.text_field :title%>
    </div>
    <br>
    <br>
    <%= f.label :description%>
    <%= f.text_field :description %>
    <br>
    <br>
    <%= f.submit 'Create Item'%>
    <% end %>
</div>





